<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.mapper.authority.UserRealmMapper">
    <select id="queryAsObject" parameterType="User" resultType="User" databaseId="oracle" >
        SELECT * FROM R_USER WHERE user_name = #{ userName }
    </select>

    <select id="query" parameterType="User" resultType="User" databaseId="oracle" >
        SELECT * FROM R_USER
    </select>

    <select id="queryByUserType" parameterType="User" resultType="User" databaseId="oracle">
        SELECT * FROM R_USER WHERE user_type = #{userType}
    </select>

    <select id="queryReporterIdByUser" parameterType="User" resultType="String" databaseId="oracle">
        SELECT DISTINCT reporter_id FROM R_PRIVS WHERE privs_resource_id = #{userId} AND read = 1
    </select>

    <select id="queryReporterIdByGroupId" resultType="String" databaseId="oracle">
        SELECT DISTINCT reporter_id FROM R_PRIVS WHERE privs_resource_id = #{groupId} AND read = 1
    </select>

    <select id="queryReporterIdOfWriteByUser" resultType="String" databaseId="oracle">
        SELECT DISTINCT reporter_id FROM R_PRIVS WHERE privs_resource_id = #{userId} AND write = 1
    </select>

    <select id="queryReporterIdOfWriteByGroup" resultType="String" databaseId="oracle">
        SELECT DISTINCT reporter_id FROM R_PRIVS WHERE privs_resource_id = #{groupId} AND write = 1
    </select>

    <insert id="insert" parameterType="User" databaseId="oracle">
        <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="userId">
            SELECT sys_guid() FROM dual
        </selectKey>
        INSERT INTO R_USER (user_id, user_name, descride, user_type, password) VALUES (#{userId}, #{userName}, #{descride}, #{userType}, #{password})
    </insert>

    <insert id="insertAuthority" databaseId="oracle">
        INSERT INTO R_PRIVS VALUES (#{reporterId}, #{privsResourceId}, #{read}, #{write})
    </insert>

    <insert id="insertAuthorityForBatch" parameterType="java.util.List" useGeneratedKeys="false" databaseId="oracle">
        INSERT INTO R_PRIVS(reporter_id, privs_resource_id, read, write)
        <foreach collection="list" item="item" index="index" separator=" UNION ALL ">
             SELECT #{item.reporterId}, #{item.privsResourceId}, #{item.read}, #{item.write} FROM DUAL
        </foreach>
    </insert>

    <update id="update" parameterType="User" databaseId="oracle">
        UPDATE R_USER
          <set>
              <if test="descride != null and descride !=''">descride = #{descride},</if>
              <if test="password != null and password !=''">password = #{password},</if>
              <if test="userType != null and userType !=''">user_type = #{userType},</if>
          </set>
          <where>
              user_id = #{userId}
          </where>
    </update>

    <update id="updateAuthority" databaseId="oracle">
        UPDATE R_PRIVS SET read = 1, write = 1 WHERE privs_resource_id = #{privsResourceId}
    </update>

    <update id="updateAuthorityForBatch" databaseId="oracle">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            UPDATE R_PRIVS SET
            read = #{item.read},
            write = #{item.write}
            WHERE reporter_id = #{item.reporterId} AND privs_resource_id = #{item.privsResourceId}
        </foreach>
    </update>

    <delete id="deleteOneUser" parameterType="User" databaseId="oracle">
        DELETE FROM R_USER WHERE user_id = #{userId}
    </delete>
</mapper>