<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.mapper.authority.UserRealmMapper">
    <select id="queryAsObject" parameterType="User" resultType="User" databaseId="oracle" >
        SELECT * FROM R_USER WHERE user_name = #{ userName }
    </select>

    <select id="query" parameterType="User" resultType="User" databaseId="oracle" >
        SELECT * FROM R_USER
    </select>

    <select id="queryByUserType" parameterType="User" resultType="User" databaseId="oracle">
        SELECT * FROM R_USER WHERE user_type = #{userType}
    </select>

    <select id="queryReporterIdByUser" parameterType="User" resultType="String" databaseId="oracle">
        SELECT DISTINCT reporter_id FROM R_PRIVS WHERE privs_resource_id = #{userId} AND read = 1
    </select>

    <select id="queryReporterIdByGroupId" resultType="String" databaseId="oracle">
        SELECT DISTINCT reporter_id FROM R_PRIVS WHERE privs_resource_id = #{groupId} AND read = 1
    </select>

    <select id="queryReporterIdOfWriteByUser" resultType="String" databaseId="oracle">
        SELECT DISTINCT reporter_id FROM R_PRIVS WHERE privs_resource_id = #{userId} AND write = 1
    </select>

    <select id="queryReporterIdOfWriteByGroup" resultType="String" databaseId="oracle">
        SELECT DISTINCT reporter_id FROM R_PRIVS WHERE privs_resource_id = #{groupId} AND write = 1
    </select>

    <insert id="insert" parameterType="User" databaseId="oracle">
        INSERT INTO R_USER (user_name, descride, user_type, password) VALUES (#{userName}, #{descride}, #{userType}, #{password})
    </insert>


    <insert id="insertAuthority" databaseId="oracle">
        INSERT INTO R_PRIVS VALUES (#{reporterId}, #{privsResourceId}, #{read}, #{write})
    </insert>

    <update id="update" parameterType="User" databaseId="oracle">
        UPDATE R_USER
          <set>
              <if test="descride != null and descride !=''">descride = #{descride},</if>
              <if test="password != null and password !=''">password = #{password},</if>
              <if test="userType != null and userType !=''">user_type = #{userType},</if>
          </set>
          <where>
              user_id = #{userId}
          </where>
    </update>

    <update id="updateAuthority" databaseId="oracle">
        UPDATE R_PRIVS SET write = 1 WHERE privs_resource_id = #{privsResourceId}
    </update>
</mapper>